@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto.ttf);
}

* {
	font-family: Roboto, sans-serif
}

div {
	margin-bottom: 20px;
}

h1 {
	font-size: 24pt;
}

h2 {
    margin: 50px 0 10px;
}

h4 {
    margin-top: 0;
}

h2:first-of-type {
	margin-top: 0;
}

p {
    margin: 0 0 15px;
    line-height: 1.5;
}

body {
	display: flex;
    flex-direction: column;
}

article,
header,
footer {
	max-width: 760px;
	margin: auto;
}

.block {
	display: flex;
    align-items: flex-start;
}

.content {
	max-width: 570px;
}

a img {
    width: calc(100% - 10px);
}

aside {
    max-width: 180px;
    margin-left: 10px;
    color: gray;
}

aside p {
    margin-bottom: 5px;
}

.header {
	font-size: 32pt;
	font-weight: bolder;
}

.subheader {
	font-size: 16pt;
	margin-bottom: 50px;
}
