@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto.ttf);
}

* {
	font-family: Roboto, sans-serif
}

div {
	margin-bottom: 20px;
}

h1 {
	font-size: 24pt;
}

h2 {
    margin: 25px 0 10px;
}

h4 {
    margin-top: 0;
}

p {
    margin: 0 0 15px;
    line-height: 1.5;
}

body {
	display: flex;
    flex-direction: column;
}

article {
	max-width: 760px;
	margin: auto;
}

.header {
    font-size: 32pt;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
}

.subheader {
    font-size: 16pt;
    margin-bottom: 50px;
}

.block {
	display: flex;
    align-items: flex-start;
}

.content {
	max-width: 565px;
    min-width: 565px;
}

a img {
    width: calc(100% - 15px);
}

aside {
    width: auto;
    margin-left: 10px;
    color: gray;
}

aside p {
    margin-bottom: 5px;
}
